.dPlay, .cp, .lg
{
    cursor:pointer;
}

.skiplink {
    display: none;
}

cite
{
    font-style:italic;
}
    
.lg, .lg:hover 
{
    color: #2b8cba;
    font-weight: normal;
}
    
.menuControl 
{
    position:fixed;
    bottom:0px;
    margin:auto;
    z-index:8000;
}
.doDock 
{
position:relative;
left:335px;
top:40px;
display:none;
cursor:pointer;
color:white;
font-weight:bolder
}

#tYourself, #lGuides, #dMusic
{
    background-color:#f9f9ee;
    width:350px;
    font-size: 12px;
}

#dm_view table thead, #lg_view table thead
{
    background-color: #dadacd;
    color: #7e7e70;
}

#dm_view table td, #dm_view table th, #lg_view table td, #lg_view table th
{
    padding: 7px;
}

#dm_view table, #lg_view table
{
    border-spacing: 0px;
}

#lg_view, #dm_view
{
    max-height:250px;
    height:expression(this.scrollHeight>249?"250px":"auto");
    overflow-y:scroll;
    overflow-x:hidden;
    
}

#ty_view
{
    padding-left:7px;
    padding-right:7px;
}
#qhead
{
    margin-top: 10px;
    font-size: medium;
    color: MediumBlue;
    margin-bottom: 10px;
    font-family: Helvetica, Arial, Sans-Serif;
}

.hilite
{
border-bottom: 1px solid MediumBlue;
}

#qtext
{
    color: DarkBlue;
    font-size: small;
    font-family: Helvetica, Arial, Sans-Serif;
}

.tyqnum
{
    margin-right:5px;
    cursor:pointer;
}

#alphas
{
    float:right;
}

.doDock span
{
    background-color:DarkRed;
    border: 1px solid black;
}

#supportContent
{
    margin-left:0px;
    clear: both;
}

#kwdiv
{

}

.kw
{
    cursor: pointer;
    color: Black;
    font-size: large;
}

#flashwarn
{
    background-color: Tan;
    border: 2px solid black;
    padding: 10px;
    padding-top: 25px;
    width: 365px;
    height: 130px;
}

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
   
#boxes .window {
  position:fixed;
  #position:absolute;
  left:0;
  top:0;
  display:none;
  z-index:9999;
  background-color: #ddd;
  border: 2px solid white;
  overflow-y:scroll;
}
 
#boxes #kwdiv 
{
  width:30%; 
  height:90%;
  padding: 7px;
  padding-left: 20px;
}

#boxes #dvdiv 
{
  height:80%;
  padding-top:10px;
}

#boxes #lgdiv 
{
  padding: 30px 0px 0px 0px;
  background-color:white !important;
  overflow-x:hidden;
}

#boxes #cpdiv, #boxes #cmdiv, #boxes #cp4cmdiv 
{
  overflow:hidden;
}


#supportContent
{
    margin-left: 10px;
}

.cp, .cp:hover
{
    color: #2B8CBA;
    font-weight: normal;
}

.tdComp
{
    border-left: 1px dotted #dadacd;
}

.ytFrame
{
    margin-left: 10px;
    margin-bottom: 3px;
    clear: left;
    width: 250px;
    height: 220px;
}

.iDiv div
{
   width: 240px;
   margin-left: 15px;
   margin-bottom: 20px;
}

.iDiv
{
    float: left;
}

.title
{
    font-size: xx-large;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: bold;
    text-align: center;
    color:  CornflowerBlue;
    clear: both;
    width: 100%;
}

.close-window {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: 0px;
    background: transparent url('http://www.omj.cloud.connect4education.org/images/close_x.png') no-repeat scroll right top;
    text-indent: -99999px;
    overflow: hidden;
    cursor: pointer;
    z-index: 3000000;
}

.close-window:hover 
{
    border: none;
}

.lg a, .lg a:hover
{
    color: #298BBA !important;
    text-decoration: none !important;
}

#correct, #wrong
{
    margin-left: -8px !important;
    margin-right: -8px !important;
    cursor: pointer;
}

#correct
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid white;
    background-color: MediumBlue;
    color: White;
    font-weight: bold;
}

#correct a, #correct a:hover {
	color: white;
	border: none;
}

#wrong
{
    padding: 5px;
    background-color: Red;
    border: 2px solid Tomato;
    color: White;
    display: none;
}

.altl
{
    font-size:smaller;
}

.assess
{
    display:none;
}

.h4 {
font-size: 16px;
color: #817F73;
}

.h1, .h2, .h3, .h4 {
font-family: Arial, Helvetica, Sans-Serif;
font-weight: bold;
}

.musiclink {
font-weight:bolder;
}

.mainText
{
    font-family: Verdana, Arial, Helvetica, Sans-Serif !important;
    font-size: 13px !important;
	font-style: normal !important;
	line-height: 1.25;
	color: #000000; 
	margin: 0; 
	padding: 0;
	background:#FFFFFF;
}

.mainText a:link
{
    font-weight: bold;
	text-decoration: none;
	color: #2b8cba;
}

.mainButton h2 a
{
    color: White;
}

.mainText ol, .mainText ul
{
    margin-top: 14px;
    margin-bottom: 14px;
}

.maintText ol, .mainText ol li
{
    list-style:decimal inside;
}

.mainText ul, .mainText ul li
{
    list-style:disc;
}

.mainText li
{
    display:list-item;
    margin-left: 25px;
}

.mainText td li
{
    margin-left: 0px;
}

.mainText p
{
    margin-bottom: 13px !important;
}

.lo_framing
{
    background-color: #ddd !important;
    border: none !important;
}

blockquote {
margin: 1em 3em;
padding: .5em;
border-left: 5px solid #CCC;
background-color: #EEE;
}