/* Begin CSS Drop Down Menu */
/* sample code provided by: http://sperling.com/examples/menuh/ */

#menuh-container
	{
	background: #fff;
	text-transform: uppercase;
	z-index: 3;
	padding: 0em;
	width: 1000px;
	}

#menuh
	{
	width:99.8%;
	}

#menuh ul
	{
	list-style:none;
	margin:0;
	padding:0;
	float:left;
	//width:8.85em;     /* width of all menu boxes */
	//width:10.3em;
	width:142.5px;
	}

#menuh li
	{
	position:relative;
    min-height: 1px; 	/* Sophie Dennis contribution for IE7 */
    vertical-align: bottom; /* Sophie Dennis contribution for IE7 */
	}

#menuh ul ul
	{
	position:absolute;
	z-index:500;
	top:auto;
	display:none;
	padding: 1em;
	margin:-1em 0 0 -1em;
	}

#menuh ul ul ul
	{
	top:0;
	left:100%;
	}
		
#menuh a
	{
	display:block;
	border-bottom: 0;
	margin:0;
	padding: 0.4em; /*centers the text on the button */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 16px;
	font-weight: bold;
	text-align: center;
	border-right: 1px solid #ccc;
	}
	
#menuh a, #menuh a:visited	/* menu at rest */
	{
	color: #4094b9;
	background: #c6c4c5;
	text-decoration: none;
	}
	
#menuh a:hover	/* menu at mouse-over  */
	{
	color: #FFFFFF;
	background: #106582;
	}	
			
#menuh a.top_parent  /* attaches background image to all top-parents */
	{
	background-image: url(http://www.images2.connect4education.com/oma/images/banner/menu_bg_greybar.jpg);
	background-repeat: repeat-x;
	color: #FFFFFF;
	}
#menuh a.top_parent:hover  /* attaches background image to all top-parents */
	{
	color: #FFFFFF;
	background-image: url(http://www.images2.connect4education.com/oma/images/banner/menu_bg_bluebar.jpg);
	background-repeat: repeat-x;
	}
	
/* not used */
#menuh a.parent, #menuh a.parent:hover 	/* attaches side-arrow to all parents */
	{
	background-image: url(nav_white.gif);
	background-position: right center;
	background-repeat: no-repeat;
	}


div#menuh li:hover
	{
	cursor:pointer;
	z-index:100;
	}

div#menuh li:hover ul ul,
div#menuh li li:hover ul ul,
div#menuh li li li:hover ul ul,
div#menuh li li li li:hover ul ul
{display:none;}

div#menuh li:hover ul,
div#menuh li li:hover ul,
div#menuh li li li:hover ul,
div#menuh li li li li:hover ul
{display:block;}

/* End CSS Drop Down Menu */

/* top_UNB_links */
.banner_text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}