.table_mod {
	border-collapse: collapse;
	border: 1px solid #FFFFFF;
}

/* Serf (START) */

#student_control_panel .heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #A7BDD9;
	text-transform: uppercase;
	text-align: center;
	height: 25px;
	width: 120px;
}

.column1 {
	background-color: #C9D3DD;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	height: 25px;
	width: 120px;
}

.column2 {
	background-color: #DADEDF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	height: 25px;
	width: 120px;
}

#student_control_panel a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #67767B;
	text-decoration: none;
	text-transform: uppercase;
}

#student_control_panel a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #67767B;
	text-decoration: none;
	text-transform: uppercase;
}

#student_control_panel a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #FF6600;
	text-decoration: none;
	text-transform: uppercase;
}

#student_control_panel a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #67767B;
	text-decoration: none;
	text-transform: uppercase;
}

.control_panel_title {
	background-color: #85A7D6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: left;
	color: #FFFFFF;
	font-weight: bold;
	height: 25px;
	text-indent: 10px;
	width: 473px;
}

.log_out {
	background-color: #67767B;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	height: 25px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	width: 127px;
}
.table_serf_column1 {
	border-collapse: collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	border: 1px solid #CCCCCC;
}
.table_serf_items {
	border-collapse: collapse;
	border: 1px solid #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.table_serf_column2 {
	border-collapse: collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 3px;
}
.table_serf_heading {
	border-collapse: collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #CCCCCC;
	font-size: 13px;
}
.table_serf_screen_primary {
	border-collapse: collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	border: 1px solid #CCCCCC;
}
.table_serf_screen_secondary {
	border-collapse: collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	border: 1px solid #CCCCCC;
}
.column1_broadcast {

	background-color: #C9D3DD;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	height: 25px;
	width: 150px;
}
.column2_broadcast {

	background-color: #DADEDF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	height: 25px;
	width: 150px;
}
.heading_broadcast {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #A7BDD9;
	text-transform: uppercase;
	text-align: center;
	height: 25px;
	width: 150px;
}
.table_border_main {
	border-collapse: collapse;
	border: 2px solid #D9E0E3;
}
.table_border_td {
	border-collapse: collapse;
	border: 2px solid #D9E0E3;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: left;
}

/* Serf (END) */

/* Administrator Control Panel (START) */
#administrator_control_panel .heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #A7BDD9;
	text-transform: uppercase;
	text-align: center;
	height: 20px;
	width: 120px;
}

#administrator_control_panel .column1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	height: 10px;
	background-color: #DEE4ED;
	width: 120px;
}

#administrator_control_panel .column2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	height: 10px;
	background-color: #DADEDF;
	width: 120px;
}

#administrator_control_panel a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #67767B;
	text-decoration: none;
}

#administrator_control_panel a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #67767B;
	text-decoration: none;
}

#administrator_control_panel a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #FF6600;
	text-decoration: none;
}

#administrator_control_panel a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #67767B;
	text-decoration: none;
}

#administrator_control_panel .control_panel_title {
	background-color: #85A7D6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: left;
	color: #FFFFFF;
	font-weight: bold;
	height: 25px;
	text-indent: 10px;
	width: 473px;
}

#administrator_control_panel .log_out {
	background-color: #67767B;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	height: 25px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	width: 127px;
}
/* Administrator Control Panel (END) */


/* Instructor Control Panel (START) */
#instructor_control_panel .heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #C8BE94;
	text-transform: uppercase;
	text-align: center;
	height: 25px;
	width: 120px;
}

#instructor_control_panel .column1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	height: 25px;
	background-color: #DDD6B8;
	width: 120px;
	text-transform: uppercase;
}

#instructor_control_panel .column2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	height: 25px;
	background-color: #F8F0D0;
	width: 120px;
	text-transform: uppercase;
}

#instructor_control_panel .control_panel_title {
	background-color: #C8BE94;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: left;
	color: #FFFFFF;
	font-weight: bold;
	height: 25px;
	text-indent: 10px;
	width: 473px;
}

#instructor_control_panel .log_out {
	background-color: #387893;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	height: 25px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	width: 127px;
}

#instructor_control_panel a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #387893;
	text-decoration: none;
	text-transform: uppercase;
}

#instructor_control_panel a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #387893;
	text-decoration: none;
	text-transform: uppercase;
}

#instructor_control_panel a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #FF6600;
	text-decoration: none;
	text-transform: uppercase;
}

#instructor_control_panel a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #387893;
	text-decoration: none;
	text-transform: uppercase;
}
/* Instructor Control Panel (END) */

#student_control_panel{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
#student_control_panel .table_mod{
	margin-left: auto;
	margin-right: auto;
}
#instructor_control_panel .table_mod{
	margin-left: auto;
	margin-right: auto;
}

